* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0.3rem 0.5rem;
}

ul {
  display: flex;
  flex-direction: column-reverse;
}

li {
  display: flex;
  justify-content: space-between;
}

p {
  padding: 0.5rem;
}

.App {
  text-align: center;
  max-width: 350px;
  margin: auto;
}
